<h1>EVENT PAGE</h1>
<p>Host:-<%= link_to @event.creator.username,user_path(@event.creator_id)%></P>
<% if session[:user_id]==@event.creator_id %>
    <%=render 'userattendance/form' %>
<% end %>
<div><%= @event.description %></div>

<h3>List of Attendees</h3>
<ul>
    <% @event.attendees.each  do |attendee|%>
        <li><%= link_to attendee.username,user_path(attendee) %></li>
    <% end %>
</ul>