<h1>Event dairy of @<%=@user.username%></h1>

<h3>My events</h3>
<%= render 'organized_events',locals: {events: @events} %>
<h3>Previously attended events</h3>
<ul>
<%@user.attended_events.each do |e|%>
    <% if e.date_of_event < Date.current%>
    <li><%= link_to e.description,event_path(e) %></li>
    <% end %>
<% end %>
</ul>
<h3>Upcoming events</h3>
<ul>
<%@user.attended_events.each do |e|%>
    <% if e.date_of_event > Date.current%>
    <li><%= link_to e.description,event_path(e) %></li>
    <% end %>
<% end %>
</ul>